<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Covid Tracker</display-name>
    <servlet>
        <servlet-name>DBActionServlet</servlet-name>
        <servlet-class>servlets.DBActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewAccountServlet</servlet-name>
        <servlet-class>servlets.NewAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addRecordServlet</servlet-name>
        <servlet-class>servlets.addRecordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newRecordServlet</servlet-name>
        <servlet-class>servlets.newRecordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePatientServlet</servlet-name>
        <servlet-class>servlets.UpdatePatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPatientServlet</servlet-name>
        <servlet-class>servlets.EditPatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>servlets.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditVaccineServlet</servlet-name>
        <servlet-class>servlets.EditVaccineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>servlets.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProviderServlet</servlet-name>
        <servlet-class>servlets.ProviderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewAccountServlet</servlet-name>
        <url-pattern>/CDC/NewAccount</url-pattern>
        <url-pattern>/Member/NewAccount</url-pattern>
        <url-pattern>/DoctorLogin/NewAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addRecordServlet</servlet-name>
        <url-pattern>/addRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/CDC/Login</url-pattern>
        <url-pattern>/Member/Login</url-pattern>
        <url-pattern>/DoctorLogin/Login</url-pattern>
        <url-pattern>/AdminConsole/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBActionServlet</servlet-name>
        <url-pattern>/CDC/DBAction</url-pattern>
        <url-pattern>/Member/DBAction</url-pattern>
        <url-pattern>/DoctorLogin/DBAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/CDC/Search</url-pattern>
        <url-pattern>/Search</url-pattern>
        <url-pattern>/AdminConsole/Search</url-pattern>
        <url-pattern>/DoctorLogin/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newRecordServlet</servlet-name>
        <url-pattern>/newRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePatientServlet</servlet-name>
        <url-pattern>/UpdatePatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditVaccineServlet</servlet-name>
        <url-pattern>/DoctorLogin/EditVaccine</url-pattern>
        <url-pattern>/AdminConsole/EditVaccine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/UpdateAccount</url-pattern>
        <url-pattern>/DoctorLogin/UpdateAccount</url-pattern>
        <url-pattern>/CDC/UpdateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/CDC/ResetPassword</url-pattern>
        <url-pattern>/ResetPassword</url-pattern>
        <url-pattern>/DoctorLogin/ResetPassword</url-pattern>
        <url-pattern>/PatientLogin/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPatientServlet</servlet-name>
        <url-pattern>/DoctorLogin/EditPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProviderServlet</servlet-name>
        <url-pattern>/DoctorLogin/Provider</url-pattern>
        <url-pattern>/AdminConsole/Provider</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>DoctorLogin/index1.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
<!--    <security-constraint>
        <display-name>VacTrackSysConst</display-name>
        <web-resource-collection>
            <web-resource-name>VacTrackSys</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <description/>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>-->
</web-app>
